*,
html,
body {
	margin: 0;
	padding: 0;
}

body {
	height: 1200px;
}



:root {
	--bg-first: rgb(233, 229, 229);
	--bg-second: #dcdcdc;
	--bg-third: rgb(2, 86, 161);
	--bg-fourth: rgb(255, 255, 255);
	--txt-first: black;
	--txt-second: white;
	--txt-third: rgb(241, 255, 132);
	--icon-bg-first: rgb(0, 140, 255);
	--icon-bg-second: rgb(207, 203, 203);
}

.kategori {
	display: none;
}

.jumbotron {
	padding-top: 85px;
	background-color: var(--bg-second);
	/* width: 100%; */
	text-align: center;
}

.caption {
	font-size: 200px;
	margin-bottom: 200px;
	/* background-color: red; */
}


.carousel-control-prev {
	margin-left: 10px;
}

.carousel-control-next {
	margin-right: 10px;
}

#project {
	background-color: var(--bg-second);
}

section {
	padding-top: 150px;
}

.contact {
	margin-left: 10px;
	margin-right: 10px;
}