*,
html,
body {
	margin: 0;
	padding: 0;
}



:root {
	--bg-first: rgb(255, 255, 255);
	--bg-second: rgb(213, 215, 215);
	--bg-third: rgb(2, 86, 161);
	--bg-fourth: #f3f4f5;
	--txt-first: black;
	--txt-second: white;
	--txt-third: rgb(241, 255, 132);
	--icon-bg-first: rgb(0, 140, 255);
	--icon-bg-second: rgb(207, 203, 203);
}

.kategori {
	display: none;
}


.jumbotron {
	padding-top: 80px;
	background: url(img/slider1.jpg);
	background-size: cover;
	color: var(--txt-first);
	font-weight: bolder;
	text-align: center;
}

.jumbotron .display-4 {
	color: var(--bg-fourth);
	font-weight: 400;
}

.dive {
	font-size: 70px;
}

.carousel-control-prev {
	margin-left: 280px;
}

.carousel-control-next {
	margin-right: 280px;
}

#project {
	background-color: var(--bg-fourth);
}

.contact {
	margin-left: 10px;
	margin-right: 10px;
}