*,
html,
body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
}

:root {
	--bg-first: rgb(255, 255, 255);
	--bg-second: rgb(230, 230, 230);
	--bg-third: rgb(0, 115, 153);
	--bg-fourth: rgb(0, 191, 255);
	--bg-fifth: rgb(46, 92, 184);
	--txt-first: black;
	--txt-second: white;
	--txt-third: rgb(241, 255, 132);
	--icon-bg-first: rgb(0, 140, 255);
	--icon-bg-second: rgb(207, 203, 203);

}


nav .navbar-brand:hover {
	transform: scale(1.5);
	transition: 0.5s;
	font-weight: lighter;
}

nav .nav-item a {
	font-size: 28px;
	font-weight: 600;
	color: var(--txt-second);
}

nav .nav-item a:hover {
	transform: scale(1.5);
	transition: 0.5s;
	/* font-weight: lighter; */
}

nav ul li a {
	display: none;
}


.jumbotron {
	padding-top: 80px;
	background: url(assets/img/slider1.jpg);
	background-size: cover;
	border: 1px solid var(--bg-second);
	border-radius: 5px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	color: var(--txt-first);
	text-align: center;
	width: 100%;
}

.jumbotron .display-4 {
	color: var(--bg-first);
	font-weight: 400;
}

.carousel-item img {
	height: 450px;
	width: auto;
	border: 5px solid;
	color: var(--bg-second);
	margin-bottom: 10px;
	border-radius: 10px;
}

.carousel-item img:hover {
	color: var(--bg-first);
	transition: .5s;
}


.category-slide {
	display: flex;
	flex-direction: column;
	color: var(--bg-second);
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	/* background-color: tomato; */
	font-size: 40px;
}

.category-slide:hover {
	color: var(--bg-first);
	/* font-weight: bolder; */
	transform: scale(1.2);
	transition: ease-out .5s;
}

.dive {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	color: var(--txt-second);
	/* background-color: tomato; */
	font-size: 70px;
}


.carousel-control-prev {
	/* background-color: tomato; */
	margin-left: 27%;
	margin-top: 200px;
	height: 15%;
	width: 3%;
}

.carousel-control-next {
	/* background-color: aqua; */
	margin-right: 27%;
	margin-top: 200px;
	height: 15%;
	width: 3%;
}

#project {
	background-color: var(--bg-second);
	display: flex;

}


/* ARTICLE */
article {
	width: 70%;
	float: left;
	background-color: var(--bg-first);
	border: 3px solid var(--bg-first);
	border-style: inset;
	border-radius: 2px;
	margin: 5px;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

article .row {
	margin: 0 auto;
}

article .column {
	width: 32%;
}

.product-card {
	width: 280px;
	position: relative;
	box-shadow: 0 2px 7px #dfdfdf;
	background: #fafafa;
	margin: 10px;
}

.product-card:hover {
	border: 2px solid var(--txt-second);
	border-style: outset;
	transition: 1s;
}

.badge {
	position: absolute;
	top: 3px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	background: red;
	color: #fff;
	padding: 3px 10px;
}

.product-tumb {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	background: #f0f0f0;
}

.product-tumb img {
	max-width: 100%;
	max-height: 100%;
}

.product-details {
	padding: 10px;
	text-align: left;
}

.product-details h5 a {
	font-weight: 500;
	display: block;
	margin-bottom: 18px;
	text-transform: uppercase;
	color: var(--txt-first);
	text-decoration: none;
	transition: 0.3s;
}

.product-details h5 a:hover {
	color: var(--bg-fifth);
}

.product-details p {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 18px;
	color: #999;
}



aside .card {
	width: 28%;
	float: right;
	border: 3px solid var(--bg-second);
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	border-style: outset;
	margin: 5px;
	font-size: 20px;
}

aside .card-body {
	width: 100%;
	margin-top: 0;
}


aside ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

aside li li {
	font-size: 16px;
	margin: 7px;
	padding-left: 5px;
	/* border: 1px solid; */
	opacity: 0.9;
	/* border-radius: 12px; */
	/* background-color: tomato; */
}

aside li li:hover {
	cursor: pointer;
	background-color: var(--bg-fifth);
	color: var(--txt-second);
	border-color: var(--bg-second);
	border: 3px solid var(--bg-second);
	opacity: 1;
}





/* Large devices (desktops, 992px and up) */