/* Small devices (landscape phones, 576px up to 768) */
@media screen and (min-width: 576px) and (max-width: 767px) {
        nav ul li {
                /* background-color: tomato; */
                margin-bottom: 10px;
        }

        nav h1 {
                /* background-color: orange; */
                font-size: 28px;
        }

        nav .navbar-brand:hover {
                transform: none;
                transition: none;
                font-weight: lighter;
        }

        nav .nav-item a {
                font-size: 20px;

        }

        nav .nav-item a:hover {
                transform: none;
                transition: none;
                color: var(--bg-fourth);
                /* font-weight: lighter; */
        }

        nav .nav-category {
                /* background-color: tomato; */
                display: block;
                font-size: 20px;
                color: var(--txt-second);
                text-decoration: none;
                font-weight: 600;
                /* margin: 0 auto; */

        }

        nav .nav-category:hover {
                color: var(--bg-fourth);
        }

        nav .card {
                background-color: var(--bg-second);
                margin-top: 5px;
                margin-left: 25px;
                width: 100%;
        }


        nav .card-body ul li a {
                /* background-color: var(--bg-second); */
                color: var(--txt-first);
                margin-left: -35px;
                margin-top: -15px;
                font-size: 18px;
        }

        nav .card-body ul li a:hover {
                color: var(--bg-fifth);
        }

        nav .menu-article {
                color: var(--txt-first);
        }

        .jumbotron {
                width: 100%;
        }



        header .card {
                display: none;
        }

        header .row {
                width: 104%;

        }

        .carousel-item img {
                height: 150px;
                width: 50%;
                margin-bottom: 2px;
        }

        .category-slide {
                color: var(--bg-second);
                /* background-color: tomato; */
                font-size: 16px;
        }

        .dive {
                font-family: 'Open Sans', sans-serif;
                font-weight: lighter;
                color: var(--txt-first);
                font-size: 24px;
        }

        /* MAIN */
        #carousel .row {
                width: 100%;
                margin-left: 200px;
        }

        .carousel-control-prev {
                /* background-color: tomato; */
                margin-left: 30px;
                margin-top: 100px;
                height: 12%;
                width: 5%;
        }

        .carousel-control-next {
                /* background-color: aqua; */
                margin-right: 30px;
                margin-top: 100px;
                height: 12%;
                width: 5%;
        }

        .row-container:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: ease-in-out 0.5s;
                border: 3px solid var(--bg-third);
                border-radius: 10px;
        }

        article {
                border: none;
                margin-left: -8px;
                margin-top: 3px;
                width: 103%;
        }

        article .column {
                width: 33.25%;
        }

        .product-card {
                margin: 0 auto;
                margin-left: -6px;
                width: 108%;
                position: relative;
                box-shadow: 0 2px 7px #dfdfdf;
                background: #fafafa;

        }

        .badge {
                position: absolute;
                top: 3px;
                text-transform: uppercase;
                font-size: 8px;
                font-weight: 400;
                background: red;
                color: #fff;
                padding: 2px 8px;
        }

        .product-tumb {
                display: flex;
                align-items: center;
                justify-content: center;
                background: #f0f0f0;
        }


        .product-details h5 a {
                font-weight: 500;
                display: block;
                margin-bottom: 18px;
                text-transform: uppercase;
                color: var(--txt-first);
                text-decoration: none;
                transition: 0.3s;
                font-size: 12px;
        }

        .product-details h5 a:hover {
                color: var(--bg-fifth);
        }

        .product-details p {
                font-size: 10px;
                line-height: 12px;
                margin-bottom: 12px;
                color: var(--bg-fifth);
        }


}