/* Small devices (landscape phones, 576px up to 768) */
@media screen and (min-width: 576px) and (max-width: 767px) {
        nav ul li {
                /* background-color: tomato; */
                margin-bottom: 10px;
        }

        nav h1 {
                /* background-color: orange; */
                font-size: 28px;
        }

        nav .navbar-brand:hover {
                transform: none;
                transition: none;
                font-weight: lighter;
        }

        nav .nav-item a {
                font-size: 20px;
        }

        nav .nav-item a:hover {
                transform: none;
                transition: none;
                color: var(--bg-fourth);
                /* font-weight: lighter; */
        }

        nav .nav-category {
                /* background-color: tomato; */
                display: block;
                font-size: 20px;
                color: var(--txt-second);
                text-decoration: none;
                font-weight: 600;
                /* margin: 0 auto; */

        }

        nav .nav-category:hover {
                color: var(--bg-fourth);
        }

        nav .card {
                background-color: var(--bg-second);
                margin-top: 5px;
                margin-left: 25px;
                width: 100%;
        }


        nav .card-body ul li a {
                /* background-color: var(--bg-second); */
                color: var(--txt-first);
                margin-left: -35px;
                margin-top: -15px;
                font-size: 18px;
        }

        nav .card-body ul li a:hover {
                color: var(--bg-fifth);
        }

        nav .menu-article {
                color: var(--txt-first);
        }

        .carousel-item img {
                height: 150px;
                margin-bottom: 0;
                border: none;
                border-radius: 0;
                display: flex;
        }

        .img-slide {
                color: var(--bg-second);
                font-size: 10px;
                /* background-color: tomato; */
        } 

        .dive {
                padding-top: 60px;
                font-size: 20px;
        }

        /* MAIN */
       #project  article .row {
                /* background-color: tomato; */
                margin-bottom: 0;
        }

        #carousel .row {
                /* background-color: blueviolet; */
                width: 56%;      
                margin-left: 25%;          
        }
       
        .carousel-control-prev {
                /* background-color: tomato; */
                margin-left: -20px;
                margin-top: 60px;
                height: 15%;
                width: 10%;
        }

        .carousel-control-next {
                /* background-color: aqua; */
                margin-right: -20px;
                margin-top: 60px;
                height: 15%;
                width: 10%;
        }

        /* PROJECT */

        #project .row {
                /* background-color: tomato; */
                width: 103%;
                margin-left: -5px;
        }

        #project .column {
                width: 50%;
                margin-top: 5px;
                margin: 0 auto;
        }

        #project .column:hover {
                border: 1px solid var(--bg-fifth);
        }

        #project .badge {
                font-size: 8px;
                margin-top: -2px;
        }

        #project .product-tumb {
                width: 100%;
        }

        #project hr {
                margin-top: 30px;
        }

        /* ARTICLE */

        article .product-card {
                box-shadow: 5px 2px 3px #dfdfdf;
                margin-bottom: 5px;
                height: fit-content;
                /* background-color: tomato; */
        }

        .product-details {
                padding: 5px;
                text-align: left;
        }

        .product-details h4 {
                font-size: 14px;
                justify-content: start;
        }

        .product-details {
                color: var(--txt-first);
                margin-left: -5px;
                font-size: 7px;
        }

        /* ASIDE */
        aside {
                display: none;
        }



}