/* Small devices (landscape phones, 576px up to 768) */
@media screen and (min-width: 576px) and (max-width: 767px) {
        nav ul li {
                /* background-color: tomato; */
                margin-bottom: 10px;
        }

        nav h1 {
                /* background-color: orange; */
                font-size: 28px;
        }

        nav .navbar-brand:hover {
                transform: none;
                transition: none;
                font-weight: lighter;
        }

        nav .nav-item a {
                font-size: 20px;
        }

        nav .nav-item a:hover {
                transform: none;
                transition: none;
                color: var(--bg-fourth);
                /* font-weight: lighter; */
        }

        nav .nav-category {
                /* background-color: tomato; */
                display: block;
                font-size: 20px;
                color: var(--txt-second);
                text-decoration: none;
                font-weight: 600;
                /* margin: 0 auto; */

        }

        nav .nav-category:hover {
                color: var(--bg-fourth);
        }

        nav .card {
                background-color: var(--bg-second);
                margin-top: 5px;
                margin-left: 25px;
                width: 100%;
        }


        nav .card-body ul li a {
                /* background-color: var(--bg-second); */
                color: var(--txt-first);
                margin-left: -35px;
                margin-top: -15px;
                font-size: 18px;
        }

        nav .card-body ul li a:hover {
                color: var(--bg-fifth);
        }

        nav .menu-article {
                color: var(--txt-first);
        }


        .dive {
                padding-top: 60px;
                font-size: 20px;
        }

        /* MAIN */
        .carousel-item img {
                height: 150px;
                margin-bottom: 0;
                border: none;
                border-radius: 0;
        }

        .img-slide {
                color: var(--bg-second);
                font-size: 10px;
        }


        main .row {
                width: 100%;
                margin-left: 15%;
        }

        .carousel-control-prev {
                /* background-color: tomato; */
                margin-left: -14px;
                margin-top: 50px;
                height: 15%;
                width: 10%;
        }

        .carousel-control-next {
                /* background-color: aqua; */
                margin-right: -14px;
                margin-top: 50px;
                height: 15%;
                width: 10%;
        }

        main .container .card-content {
                width: 100%;
                height: auto;
                margin: 0 auto;
        }

        main .card-content .card {
                width: 32.0%;
                height: 250px;
                margin-left: 3px;
        }

        main .product-thumb {
                height: 150px;
                width: 100%;
        }

        main img {
                height: 100%;
                width: 100%;
                border-radius: 5px;
        }

        .product-details h4 {
                width: 50px;
                font-size: 20px;
                margin-top: -10px;
        }

        main p {
                display: none;
                font-size: 12px;
        }

        main .product-details {
                font-size: 12px;
                margin-left: 10px;
                padding-right: 0;
        }

        .product-details h4 {
                margin: 0 auto;
                margin-left: -10px;
                width: auto;
        }

        footer {
                font-size: 14px;
        }


        /* ASIDE */
        aside {
                display: none;
        }



}