/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 992px) {

        nav ul li {
                /* background-color: tomato; */
                margin-bottom: 10px;
        }

        nav h1 {
                /* background-color: orange; */
                font-size: 28px;
        }

        nav .nav-item a {
                font-size: 24px;
        }

        nav ul li {
                display: block;
                /* background-color: tomato; */
        }

        nav .navbar-brand:hover {
                transform: none;
                transition: none;
                font-weight: lighter;
        }

        nav .nav-item:hover {
                transform: none;
                transition: none;
                font-weight: lighter;
        }

        nav .nav-category {
                display: none;
        }

        form .form-control {
                display: none;
        }

        form .tombol {
                display: none;
        }

        form input {
                display: none;
        }

        .carousel-item img {
                height: 20%;
                width: 100%;
        }

        .img-slide {
                color: var(--bg-second);
                /* background-color: tomato; */
                font-size: 22px;
        }


        .dive {
                font-family: 'Open Sans', sans-serif;
                font-weight: lighter;
                padding-top: 70px;
                font-size: 25px;
                /* margin-left: 0; */
        }

        /* MAIN */
        .carousel-item img {
                height: 200px;
                margin-bottom: 5px;
                border: 1px solid var(--bg-second);
                border-radius: 7px;
        }

        .img-slide {
                color: var(--bg-second);
                font-size: 10px;
        }

        .carousel-control-prev {
                /* background-color: tomato; */
                margin-left: -34px;
                margin-top: 80px;
                height: 15%;
                width: 10%;
        }

        .carousel-control-next {
                /* background-color: aqua; */
                margin-right: -34px;
                margin-top: 80px;
                height: 15%;
                width: 10%;
        }

        main .container .card-content {
                width: 70%;
                height: 1080px;
        }

        main .card-content .card {
                width: 32.0%;
                height: 250px;
                margin: 0 auto;
                margin-top: 5px;
                margin-bottom: 5px;
        }

        main .product-thumb {
                height: 150px;
                width: 100%;
        }

        main img {
                height: 100%;
                width: 100%;
                border-radius: 5px;
        }

        .product-details h4 {
                width: 50px;
                font-size: 20px;
                margin-top: -10px;
        }

        main p {
                display: none;
                font-size: 12px;
        }

        main .product-details {
                font-size: 12px;
                margin-left: 10px;
                padding-right: 0;
        }

        .product-details h4 {
                margin: 0 auto;
                margin-left: -10px;
                width: auto;
        }

        footer p {
                margin-bottom: 0;
                font-size: 15px;
        }

        /* ASIDE */
        aside .container {
                float: right;
                margin-right: 1.50%;
                margin-top: -174.86%;
                width: 31.15%;
        }

        aside .card-header {
                font-size: 22px;
        }

        aside .accordion-item {
                margin-top: 3px;
        }

        aside ul {
                list-style-type: none;
                text-align: start;
        }

        aside .accordion-body {
                /* background-color: tomato; */
                margin-left: -40px;
                margin-right: -17px;
                font-size: 14px;
        }

}